.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.calculator {
    margin-top: 50px;
    height: 580px;
    width: 450px;
    background-color: rgb(219, 211, 211);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.screen {
    background-color: whitesmoke;
    height: 120px;
    border-radius: 20px;
    font-size: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*.text-screen {
    text-align: end;
}*/

.row, .row2 {
    height: 86px;
    border-color: black;
    border-style: solid;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 100px;
    height: 80px;
    border-radius: 7px;
    font-size: 30px;
}

.zero {
    width: 211px;
    height: 80px;
}